<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
      <%
      let title = customFields.find(function (elem) {
        if (elem.name === 'nameSite') {
          return elem;
        }
      });

      let desc = customFields.find(function (elem) {
        if (elem.name === 'description') {
          return elem;
        }
      });
      %>
    <title><%= title.value %></title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/device-mockups/device-mockups.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">

    <!-- Custom styles for this template -->
    <link href="/css/new-age.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/"><%= title.value %></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

              <% menus.forEach(function(menu) { %>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="<%= menu.url %>"><%= menu.name %></a>
                </li>
              <% }); %>


          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5"><%= desc.value %></h1>
              <a href="/contact" class="btn btn-outline btn-xl js-scroll-trigger">Свяжитесь с нами</a>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="/img/demo-screen-1.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    
	<%- body -%>

    <div class="main-section">
      <div class="row border-chat">
        <div class="col-md-12 col-sm-12 col-xs-12 first-section">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6 left-first-section">
              <p>Напишите нам</p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 right-first-section">
              <!--<a href="#"><i class="fa fa-minus" aria-hidden="true"></i></a>-->
              <a href="#"><i class="fa fa-clone" aria-hidden="true"></i></a>
              <!--<a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>-->
            </div>
          </div>
        </div>
      </div>
      <div class="row border-chat">
        <div class="col-md-12 col-sm-12 col-xs-12 second-section">
          <div class="chat-section">
            <ul>
              <li>
                <div class="left-chat">
                  <img src="/img/chat/1499345471_boy.png">
                  <p>Lorem ipsum dolor sit ameeserunt.
                  </p>
                </div>
              </li>
              <li>
                <div class="right-chat">
                  <img src="/img/chat/1499345471_boy.png">
                  <p>Lorem ipsum dolor sit ameeserunt.</p>
                </div>
              </li>
              <li>
                <div class="left-chat">
                  <img src="/img/chat/1499345471_boy.png">
                  <p>Lorem ipsum dolor sit ameeserunt.</p>
                </div>
              </li>
              <li>
                <div class="right-chat">
                  <img src="/img/chat/1499345471_boy.png">
                  <p>Lorem ipsum dolor sit ameeserunt.</p>
                </div>
              </li>
              <li>
                <div class="left-chat">
                  <img src="/img/chat/1499345471_boy.png">
                  <p>Lorem ipsum dolor sit ameeserunt.</p>
                </div>
              </li>
              <li>
                <div class="right-chat">
                  <img src="/img/chat/1499345471_boy.png">
                  <p>Lorem ipsum dolor sit ameeserunt.</p>
                </div>
              </li>
              <li>
                <div class="left-chat">
                  <img src="/img/chat/1499345471_boy.png">
                  <p>Lorem ipsum dolor sit ameeserunt.</p>
                </div>
              </li>
              <li>
                <div class="right-chat">
                  <img src="/img/chat/1499345471_boy.png">
                  <p>Lorem ipsum dolor sit ameeserunt.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row border-chat">
        <div class="col-md-12 col-sm-12 col-xs-12 third-section">
          <div class="text-bar">
            <input type="text" placeholder="Write messege"><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <p>&copy; <%= title.value %> 2018. All Rights Reserved.</p>
        <!--<ul class="list-inline">-->
          <!--<li class="list-inline-item">-->
            <!--<a href="#">Privacy</a>-->
          <!--</li>-->
          <!--<li class="list-inline-item">-->
            <!--<a href="#">Terms</a>-->
          <!--</li>-->
          <!--<li class="list-inline-item">-->
            <!--<a href="#">FAQ</a>-->
          <!--</li>-->
        <!--</ul>-->
      </div>
    </footer>
    <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
    <script>
        //var socket = io();
    </script>
    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <!-- Custom scripts for this template -->
    <script src="/js/chat.js"></script>
    <script src="/js/new-age.min.js"></script>

  </body>

</html>
